:root {
	--green: #4a773c;
	--green-darker: #416635;

	--text-color: #444;

	--border-color: #f4f4f4;
	--border-dark-color: #ddd;

	--gray-1: #f9fafc;
	--gray-2: #f4f4f5;
	--gray-3: #ecf0f5;
	--gray-4: #e6e6e6;
	--gray-5: #ccc;

	--date-input-width: 200px;
}
